*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
body{
  background-color: #27282F;
}

/* landing page css starts  */
.lpOuter{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.lpInnerUpper{
  height: 8vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  font-size: 1rem;
  color: #C4C4C4;
}

.lpInnerUpperLeft{
  font-size: 2rem;
  background: linear-gradient(90deg, rgba(203,142,233,1) 0%, rgba(77,60,87,1) 100%);
  background-clip: text;
  color: transparent;
  font-weight: 500;
  
}
.lpInnerUpperMiddle{
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lpInnerUpperMiddle ul{
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.lpInnerUpperRight button{
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  background-color: transparent;
  border: 2px solid #484B4E;
  color: #C4C4C4;
}
.lpInnerBody{
  width: 95vw;
  height: 75vh;
  justify-content: space-between;
}
.lpInnerBodyLeft{
  height: 100%;
  width: 29%;
  background-image: url(./photos/landingPage/document.jpg);
  background-size: cover;
  border-radius: 2rem;
}
.lpInnerBodyRight{
  height: 100%;
  width: 70%;
  background-color: #1D1C1C;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.multipleColorPalette{
  width: 50%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.multipleColorPalette > div{
  height: 100%;
  width: 20%;
  border-radius: 1.5rem;
}
.multipleColorPalette :nth-child(1){
  background-color: #CB8EE9;
}
.multipleColorPalette :nth-child(2){
  background-color: #A576BB;
}
.multipleColorPalette :nth-child(3){
  background-color: #7C5D8D;
}
.multipleColorPalette :nth-child(4){
  background-color: #4C3C57;
}
.punchLine{
  width: 50%;
}
.punchLine h2{
  font-size: 4rem;
  color: #C4C4C4;
}
.lpDescription{
  width: 50%;
}
.lpDescription p{
  color: #5F5F5E;
  font-size: 1.5rem;
}
.lpInnerFooter{
  width: 95%;
  height: 10vh;
}
.lpInnerFooter button{
  width: 100%;
  height: 100%;
  background-color: #DF9CFF;
  border: none;
  border-radius: 2rem;
  font-size: 1.5rem;
}
.lpInnerFooter button span{
  background-color: black;
  border-radius: 1rem;
  padding: 1rem;
}

/* landing page css ends */

/* Entrymodal css starts  */
.EmOuter{
  height: 100vh;
  width: 100vw;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  backdrop-filter: blur(5px);
}
.EntryModal{
  width: 60rem;
  border: 2px solid #DF9CFF;
  background-color: #1D1C1C;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.EntryModalUpper{
  height: 0vh;
  width: 100%;
  background-color: #DF9CFF;
}
.EntryModalMiddle{
  display: flex;
  flex-direction: column;
  padding: 0 2rem ;
}
.inputDiv{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.inputDiv > label{
  color: #C4C4C4;
  font-size: 2rem;
}
.inputDiv input{
  background: none;
  border: 2px solid #DF9CFF;
  padding: 1rem;
  margin: 1rem 0;
  color: #C4C4C4;
  font-size: 1.5rem;
}
.inputDiv input:focus{
  outline: none;
}
.EntryModalLower{
  display: flex;
  align-items: end;
  justify-content: flex-end;
  padding: 2rem;
}
.EntryModalLower button{
  margin-left:1rem;
}

.modalBtn{
  padding: 1rem 2rem;
  background-color: #DF9CFF;
  color: black;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
}
.modalBtn-inverted{
  padding: 1rem 2rem;
  background-color: transparent;
  color: #DF9CFF;
  border: 2px solid #DF9CFF;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
}
/* Entrymodal css ends */

/* Spinner css starts  */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* Spinner css ends */

/* Navigaton page css starts  */
.NavigationOuter{
  height: 100vh;
  width: 20vw;
  background-color: #1D1C1C;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.NavigationMain{
  width: 100%;
}
.NavigationUpper h1{
  background: linear-gradient(90deg, rgba(203,142,233,1) 0%, rgba(77,60,87,1) 100%);
  background-clip: text;
  color: transparent;
  font-weight: 500;
  margin: 2rem;
}
.NavigationUpper button{
  margin: 2rem 0 ;
}
.NavLinks ul{
  padding: 0;
}
.NavLinks ul li{
  color: #C4C4C4;
  list-style: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 2rem;
}
.NavLinks ul li:hover{
  background-color: #DF9CFF;
  border-left: 8px solid #7C5D8D;
  color: #4C3C57 !important;

}
.NavigationLower{
  padding: 2rem;
  width: 100%;
  border-radius: 2rem;
  background-color: #DF9CFF;
}
.userdetails{
  margin-bottom: 2rem;
}
.userdetails p{
  font-size: 1.5rem;
  margin: 0;

}

.NavigationLower button{
  border: 2px solid black;
  color: black;
  width: 100%;
}
.selectedTab{
  background-color: #DF9CFF;
  border-left: 8px solid #7C5D8D;
  color: #4C3C57 !important;
}

/* Navigation page css ends  */

/* appmain css starts  */
.appMainOuter{
  display: flex;
}
/* appmain css ends */

/* home page css starts  */
.homeOuter{
  padding: 2rem;
  min-height: 100vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homeUpper{
  width: 100%;
  height: 30vh;
  background-color: #1D1C1C;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.homeUpperAnimation{
  position: relative; 
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(./photos/Home/background.png);

  justify-content: space-between;
  flex-wrap: wrap;
}
.homeUpperAnimation i{
  font-size: 3rem;
}

.homeLower{
  padding: 2rem;
  width: 100%;
}
.homeLowerHead{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #C4C4C4;
}
.homeLowerHead h2{
  
  font-size: 2.5rem;
}
.homeLowerBody{
  width: 100%;
  padding-top: 2rem;
}
.uploadBtnDiv{
  position: absolute;
}
.uploadBtnDiv button{
  background-color: #1D1C1C;
  border: 4px solid #DF9CFF;
}
.uploadingLoaderDiv{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #DF9CFF;
}
.uploadingLoaderDiv p{
  font-size: 1.5rem;
  
}
/* home page css ends  */

/* document box css starts  */
.documentBoxOuter{
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #C4C4C4;
}
.documentBoxOuter:hover{
  background-color: #1D1C1C;
  border-radius: 1rem;
  cursor: pointer;
}
.documentBoxLeft{
  display: flex;
  align-items: center;
}
.docIcon{
  border: 2px solid #C4C4C4;
  padding: 0.8rem;
  border-radius: 20%;
}
.docName{
  margin: 0 2rem;
  font-size: 2rem;
}
.documentBoxRight{
  display: flex;
  font-size: 1.5rem;
}
.docSize{
  margin: 0 2rem;
}
.docOptionIcon button{
  background-color: transparent;
  border: none;
  color: #C4C4C4;
}
/* document box css ends */

/* confirm modal css starts  */
.confirmModalOuter{
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}
.confirmModalInner{
  background-color: #1D1C1C;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}
.confirmModalContent p{
  font-size: 2rem;
  color: #C4C4C4;
}
.confirmModalButtons{
  margin-top: 2rem;
}
.confirmModalButtons button{
  margin: 0 1rem;
}
/* confirm modal css ends */